#Crestron
*.uf binary
*.ir binary 
*.zip binary
*.vtz binary
*.ush binary
*.umc binary
*.smw binary
*.lpz binary
*.spz binary
*.sig binary
*.vtp binary
*.vtz binary
*.vta binary
*.sm2 binary
*.ASV binary

# Documents
*.doc binary
*.DOC binary
*.docx binary
*.DOCX binary
*.pdf binary
*.PDF binary
